# Exemplo de variáveis de ambiente para o projeto
# Preencha com os valores reais no seu .env local

DATABASE_PORT=
DATABASE_PASSWORD=
DATABASE_DB=
DATABASE_URL=
JWT_SECRET=
FRONTEND_URL=
EMAIL_CONFIRMATION_SENDER_EMAIL=
REDIS_HOST=
REDIS_PORT=
MAILTRAP_API_TOKEN=
